body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 174, 174);
}

h1{
    color: rgb(73, 73, 224);
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px lightblue;
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid;
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgba(192, 2, 2, 0.753);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgba(122, 8, 8, 0.753);
}

#result{
    font-size: 1.5em;
    font-weight: bolder;
}